#app{
    height: 100vh;
    background: rgb(226, 241, 243);
}
.navbar-brand{
    font-family: 'Lobster', cursive;
    color: rgb(245, 239, 239)!important;
}

.bg-dark {
    background-color: #0f1113!important;
}
