
*{
    box-sizing: border-box;
}
.selctBtn{
    float: right;
}
.heading{
    border-bottom: 3px solid red;
    width: auto;
    display: inline-block;
    font-size: x-large;
    font-weight: bold;
   
}

.heading:hover{
    transition: .5s;
    border-top: 3px solid red;
    border-bottom: 3px solid rgb(13, 233, 123);

}
.def{
    display: inline-block;
    font-size: medium;
    font-weight: 400;
    word-spacing: 2px;
    letter-spacing: .5px;
}
.sub{
    border-bottom: 1px solid rgb(233, 105, 105);
    width: auto;
    display: inline-block;
    font-size: large;
    font-weight: 800;
}
.highlight{
    color: rgb(26, 27, 25);
    background: rgb(237, 240, 94);
}
.example{
    display: inline-block;
    border: .2px dotted gray;
    box-shadow: 4px 2px 2px gray;
    padding: 3px;
    border-radius: 5px;
}
.example:hover{
    display: inline-block;
    border: .5px dotted gray;
    box-shadow: 4px 2px 2px rgb(10, 10, 10);
    padding: 3px;
}
img{
    display: block;
}
.links{
    display: inline;
    font-size: small;
    font-weight: bolder;
    border: 1px dashed rgb(7, 7, 7);
    margin: 3px;
    padding: 3px;
    color: blue;
    border-radius: 5px;
}
.links:hover{
    transition: 1s;
    display: inline;
    font-size: small;
    font-weight: 400;
    border: none;
    margin: 3px;
    padding: 3px;
    color: white;
    background: black;
    cursor: pointer;
    border-radius: 7px;
}
.hr-line{
    margin-top: 20px;
    border-bottom: 3px solid rgb(80, 77, 77);
}
.timestamp{
    float: right;
   
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(17, 16, 16);
    color: white;
    text-align: center;
  }